// Primary Colors
$primary-color: #0f0f0f;
$primary-color-overlay: rgba(5, 5, 5, 0.9);

$secondary-color: #16df81;
$secondary-svg: #15ae67;
$secondary-color-background: rgba(22, 223, 129, 0.5);

// TEXT
$text-primary: #afafaf;
$text-secondary: #7e7e7e;

// ETC
$textbox-input: #626262;

// FONT
$primary-font: "Source Sans Pro";
$secondary-font: "Noto Sans";
